body{
    font-family: sans-serif;
    color: #666;
}

input{
    border-radius: 8px;
    border: none;
    padding: 6px 16px;
}

button{
    border-radius: 8px;
    border: none;
    padding: 4px 16px;
    margin: 0px 2px;
}

button:hover{
    background-color:aqua;
    color: white;
}

.input-area{
    background-color: aquamarine;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.incomplete-area{
    border: 2px solid aquamarine;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.complete-area{
    border: 2px solid aquamarine;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: azure;
}

.title{
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.list-row{
    display: flex;
    align-items: center;
}

.todo-item{
    margin: 6px;
}